.info__box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.info__item {
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.search-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 40%;
}

.search-form button[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
